*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #f9f9f9;
}

.color1 {color: #010108;}
.color2 {color: #354447;}
.color3 {color: #586c75;}
.color4 {color: #c1ccc7;}
.color5 {color: #f9f9f9;}

header h1{
    font-size: 48px;
    color: #354447;
    margin-left: 20px;
    margin-top: 20px;
}

.name-bar{
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.welcome-gif{ 
    width: 140px;
    height: 140px;
    padding-right: 12px;
}

.navbar{
    padding: 10px 20px;
    border-bottom: 8px solid #354447;
    width: auto;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    display: flex;
    margin-right: 12px;
}

.navbar ul li img{
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

.navbar .navbar-item{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #354447;
    padding-right: 20px;
    font-size: 24px;
}

li:hover{    
    scale: 1.1;
    transition: 0.5s;
}

main{
    height: 71.8vh;
}

.navbar .navbar-item:hover{
    color: #010108;
}

.content-main{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}

.content-main img{
    width: 600px;
    height: 100%;
    image-resolution: from-image;
    image-rendering: auto;
}

.content-description{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.content-description h2{
    font-size: 36px;
    color: #354447;
    margin-bottom: 20px;
}

.content-description p{
    font-size: 24px;
    color: #586c75;
    margin-bottom: 20px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #354447;
    color: #f9f9f9;
    justify-content: space-evenly;
    align-items: baseline;
}

footer h3{
    padding-top: 8px;
    padding-bottom: 12px;
}
.social-media ul{
    display: flex;
    justify-content: space-evenly;
}

.social-media ul li{
    text-decoration: none;
    list-style: none;
    color: #f9f9f9;
}

.social-media ul li img{
    padding-top: 8px;
    width: 40px;
    height: 48px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
}

/* Page Habilidades */

.main-habilidades{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.habilidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 460px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 20px #354447;
}

.habilidades h2{
    font-size: 42px;
    color: #354447;
    margin-top: 20px;
    border-bottom: 3px solid #354447;
}

.habilidades p{
    font-size: 20px;
    color: #354447;
    margin: 20px;
}

.habilidades-list{
    display: flex;
}

.habilidades ul{
    list-style-type:square;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.habilidades ul li{
    font-size: 16px;
    margin: 8px;
    display: flex;
}

.habilidades ul li p{
    margin: 0;
    padding: 0;
    color: #354447;
}

.habilidades ul li img{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.habilidades ul li:hover{
    font-size: 24px;
    scale: 1.4;
    transition: 0.5s;
    color: #010108;
}

/* Page Proyectos */

.main-proyecto{
    text-align: center;   
}

.main-proyecto h2{
    font-size: 42px;
    color: #354447;
    padding-top: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.grid-item img{
    width: 500px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 0 20px #354447;
}

.grid-item h3{
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
    width: 98%;
}

.grid-item h3 a{
    text-decoration: none;
    color: #010108;
}

.grid-item h3:hover{
    color: #354447;
    scale: 1.1;
    transition: 0.5s;
}